[Unit]
Description=UDP GPS Tracker Relay
Wants=network.target
After=network.target

[Service]
Type=simple
ExecStart=aitrackrelay
User=user
WorkingDirectory=/home/user

[Install]
WantedBy=multi-user.target
